/* shared */
*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* { 
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

body {
    background-color: #D9EAFD;
}

header {
    background-color: #9AA6B2;
    color: white;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 5px 10px #cacbcb;
}

#page-title {
    font-size: 30px;
}

.main {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-header {
    display: flex;
    gap: 15px;
}

#sub-title {
    font-size: 22px;
}

.content-container {
    display: flex;
    gap: 15px;
}

/* All projects page */
.project {
    background-color: white;
    height: 180px;
    width: 300px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #cacbcb;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
}

.project-description {
    color: #747475;
    font-size: 14px;
}

button {
    background-color: #9AA6B2;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    box-shadow: 0px 5px 10px #cacbcb;
    align-self: center;
    width: 180px;
    height: 35px;
}

button:active {
    transform: scale(0.98);
    box-shadow: none;
}

.new-project {
    justify-content: center;
}

.new-project:hover {
    background-color: #f7f7f7;
}

.new-project:active {
    transform: scale(0.98);
    box-shadow: none;
}

.project-add {
    height: 70px;
}

/* Single project page */
.back-button {
    text-decoration: underline;
    align-self: center;
}

.back-button:hover {
    cursor: pointer;
    color: #9AA6B2;
}

.task {
    background-color: white;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #cacbcb;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.task-duedate, .task-priority {
    font-size: 14px;
    font-weight: bold;

}

.task-description {
    color: #747475;
    font-size: 14px;
}

.task-buttons {
    align-self: end;
    display: flex;
    gap: 10px;
}

.task-button {
    background-color: #9AA6B2;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    box-shadow: 0px 5px 10px #cacbcb;
    width: 70px;
    height: 35px;
}

.new-task {
    justify-content: center;
    height: 70px;
}

.new-task:hover {
    background-color: #f7f7f7;
}

.new-task:active {
    transform: scale(0.98);
    box-shadow: none;
}

.task-add {
    height: 60px;
}

/* dialog */
.dialogButton {
    height: 25px;
    width: 70px;
}

.dialogFlexContainer {
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dialogTitle {
    font-size: 20px;
    font-weight: bold;
}

.title { 
    width: 100%;
    height: 25px;
    padding-left: 5px;
}

.desc-input {
    width: 100%;
    padding-left: 5px;
    resize: none;
}

.dialogFooter {
    display: flex;
    justify-content: space-evenly;
}

#priority {
    width: 50px;
    padding-left: 10px;
    height: 20px;
}